
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #E7E7E7;

}
.catalogue li img{
    position:relative;
    transform: rotate(calc(360deg/-10 * var(--i)));
    scale: 0;
    transition: 0.4s;
    
}
.catalogue.action li img{
    scale: 1;
}

.car-name-CX-3{
    position: absolute;
    top:10px;
    left:auto;
    font-size:35px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
  }
  
.car-size-CX-3{
    position: absolute;
    top:117px;
    left:auto;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-CX-3
{
    scale: 0;
}
.catalogue.action li .car-name-CX-3
{
    scale: 1;
}
.catalogue li .car-size-CX-3
{
    scale: 0;
}
.catalogue.action li .car-size-CX-3
{
    scale: 1;
}
.car-name-CX-30
{
    position: absolute;
    top:20px;
    left: 5px;
    font-size:35px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-CX-30{
    position: absolute;
    top:111px;
    left:48px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-CX-30
{
    scale: 0;
}
.catalogue.action li .car-name-CX-30
{
    scale: 1;
}
.catalogue li .car-size-CX-30
{
    scale: 0;
}
.catalogue.action li .car-size-CX-30
{
    scale: 1;
}

.car-name-MX-30
{
    position: absolute;
    top:45px;
    left: -15px;
    font-size:35px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-MX-30
{
    position: absolute;
    top:88px;
    left:65px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-MX-30
{
    scale: 0;
}
.catalogue.action li .car-name-MX-30
{
    scale: 1;
}
.catalogue li .car-size-MX-30
{
    scale: 0;
}
.catalogue.action li .car-size-MX-30
{
    scale: 1;
}
.car-name-CX-5
{
    position: absolute;
    top:77px;
    left: -3px;
    font-size:35px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-CX-5
{
    position: absolute;
    top:60px;
    left:65px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-CX-5
{
    scale: 0;
}
.catalogue.action li .car-name-CX-5
{
    scale: 1;
}
.catalogue li .car-size-CX-5
{
    scale: 0;
}
.catalogue.action li .car-size-CX-5
{
    scale: 1;
}

.car-name-CX-60
{
    position: absolute;
    top:100px;
    left: 10px;
    font-size:35px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-CX-60
{
    position: absolute;
    top:35px;
    left:47px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-CX-60
{
    scale: 0;
}
.catalogue.action li .car-name-CX-60
{
    scale: 1;
}
.catalogue li .car-size-CX-60
{
    scale: 0;
}
.catalogue.action li .car-size-CX-60
{
    scale: 1;
}
.car-name-CX-8
{
    position: absolute;
    top:112px;
    left: 47px;
    font-size:35px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-CX-8
{
    position: absolute;
    top:28px;
    left:20px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-CX-8
{
    scale: 0;
}
.catalogue.action li .car-name-CX-8
{
    scale: 1;
}
.catalogue li .car-size-CX-8
{
    scale: 0;
}
.catalogue.action li .car-size-CX-8
{
    scale: 1;
}

.car-name-MAZDA6
{
    position: absolute;
    top:95px;
    left: 47px;
    font-size:30px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-MAZDA6
{
    position: absolute;
    top:29px;
    left:-3px;
    font-size:11px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-MAZDA6
{
    scale: 0;
}
.catalogue.action li .car-name-MAZDA6
{
    scale: 1;
}
.catalogue li .car-size-MAZDA6
{
    scale: 0;
}
.catalogue.action li .car-size-MAZDA6
{
    scale: 1;
}
.car-name-MAZDA3
{
    position: absolute;
    top:74px;
    left: 61px;
    font-size:30px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-MAZDA3
{
    position: absolute;
    top:52px;
    left:-20px;
    font-size:11px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-MAZDA3
{
    scale: 0;
}
.catalogue.action li .car-name-MAZDA3
{
    scale: 1;
}
.catalogue li .car-size-MAZDA3
{
    scale: 0;
}
.catalogue.action li .car-size-MAZDA3
{
    scale: 1;
}

.car-name-MAZDA2
{
    position: absolute;
    top: 48px;
    left: 61px;
    font-size:30px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-MAZDA2
{
    position: absolute;
    top:87px;
    left:-23px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-MAZDA2
{
    scale: 0;
}
.catalogue.action li .car-name-MAZDA2
{
    scale: 1;
}
.catalogue li .car-size-MAZDA2
{
    scale: 0;
}
.catalogue.action li .car-size-MAZDA2
{
    scale: 1;
}

.car-name-ROADSTER
{
    position: absolute;
    top: 33px;
    left: 43px;
    font-size:25px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.car-size-ROADSTER
{
    position: absolute;
    top:112px;
    left:-8px;
    font-size:14px;
    font-weight: 20px;
    color: #000000;
    padding:0;
    margin:0;
}
.catalogue li .car-name-ROADSTER
{
    scale: 0;
}
.catalogue.action li .car-name-ROADSTER
{
    scale: 1;
}
.catalogue li .car-size-ROADSTER
{
    scale: 0;
}
.catalogue.action li .car-size-ROADSTER
{
    scale: 1;
}

.main
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 750px;
    background: #E7E7E7;
    z-index: 10;
    /* slide */
    left: 0;
    transition: all .5s;
    
}
.main .navigation
{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.main .navigation span
{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #8d8d8d;
    transform: translate(calc(25px * var(--x)),calc(25px
    * var(--y)));
    border-radius: 50%;
    transition: transform 0.7s, width 0.1s,height 0.3s,
    background 0.5s;
    transition-delay: calc(0.1s * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .navigation.active span
{
    width: 60px;
    height: 60px;
    background: #ffffff;
    transform: translate(calc(80px * var(--x)),calc(80px
    * var(--y)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.20);
}

.main .navigation span ion-icon
{
    transition: 1.3s;
    font-size: 0em;
    color: #555555;
}
.main .navigation.active span ion-icon
{
    font-size: 1.9em;
    transform: rotate(360deg);
}
.main .navigation.active span:hover ion-icon
{
    color: #ff0000;
    filter: drop-shadow(0 0 2px #ffffff)drop-shadow(0 0 5px #ffffff)drop-shadow(0 0 15px #ffffff);
}
 .close 
{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #8d8d8d;
    transition: 0.5s;
    transition-delay: 0.4s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.main .navigation.active   ~ .close
{
    width: 60px;
    height: 60px;
    pointer-events: initial;
    transition-delay: 0.8s;
    background: #ffffff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.20);
}
.main .navigation ~ .close ion-icon
{
    font-size: 2em;
    scale: 0;
    color: #555555;
    transition: 0.5s;
}
.main .navigation.active ~ .close ion-icon
{
    scale: 1;
    transition-delay: 1s;
}
.main .navigation .catalogue
{
  box-shadow: 0 3px 4px rgba(0,0,0,0.15);  
}
.catalogue li 
{
   color: #000000;
   scale: 0; 
   position:absolute;
   left: -225px;
   top: 25px;
   transform-origin: 250px;
   background: #ffffff;
   transition: 1s;
   transform: rotate(calc(360deg/10 * var(--i)));
   list-style: none;
   width: 10px;
   height: 10px;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   box-shadow: 0 3px 4px rgba(0,0,0,0.20);
   
}
 .catalogue.action li 
{
    position: absolute;
    left: -265px;
    top: 30px;
    list-style: none;
    transition: 1s;
    transform: rotate(calc(360deg/10 * var(--i)));
    transform-origin: 370px;
    scale: 1;
    width: 165px;
    height: 165px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.20);
    
}
li p
{
    position:relative;
    display: flex;
    transform: rotate(calc(360deg/-10 * var(--i)));
    font-size: 19px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    text-decoration: none;
} 

.main.slide
{
    left: 200px;
    top: 40px;
    transition: all .5s;
}


.navi1 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 70px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi1.open1
{
    left: 0;
    opacity: 1;
}
.navi1 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi1 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi1 ul {
    margin: 0;
    padding: 0;
}
.navi1 ul.navi-menu {
    margin-bottom: 100px;
}
.navi1 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu1
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi1 .detail1 dt{
    position: absolute;
    opacity: 0;
}

.navi1 .detail1.detail1denote1 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu1-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi1 .detail1-2 dt{
    position: absolute;
    opacity: 0;
}

.navi1 .detail1-2.detail1-2denote1-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi1 .detail1-2 dt.dt-bottom{
    border-bottom: solid 1px #fff;
}


.navi2 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi2.open2
{
    left: 0;
    opacity: 1;
}
.navi2 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi2 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi2 ul {
    margin: 0;
    padding: 0;
}
.navi2 ul.navi-menu {
    margin-bottom: 100px;
}
.navi2 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi2 .detail2 dt{
    position: absolute;
    opacity: 0;
}

.navi2 .detail2.detail2denote2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi2 .detail2-2 dt{
    position: absolute;
    opacity: 0;
}

.navi2 .detail2-2.detail2-2denote2-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu2-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi2 .detail2-2 dt.dt-bottom{
    border-bottom: solid 1px #fff;
}


.navi3 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi3.open3
{
    left: 0;
    opacity: 1;
}
.navi3 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi3 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi3 ul {
    margin: 0;
    padding: 0;
}
.navi3 ul.navi-menu {
    margin-bottom: 100px;
}
.navi3 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu3
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi3 .detail3 dt{
    position: absolute;
    opacity: 0;
}

.navi3 .detail3.detail3denote3 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi3 .detail3-2 dt{
    position: absolute;
    opacity: 0;
}

.navi3 .detail3-2.detail3-2denote dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu3-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}
.navi3 .detail3-2 dt{
    position: absolute;
    opacity: 0;
}

.navi3 .detail3-2.detail3-2denote3-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi3 .detail3-2 dt.dt-bottom{
    border-bottom: solid 1px #fff;
}


.navi3 .detail3 dt.ev-dt-top
{
    border-top: solid 1px #fff;
}

.navi4 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi4.open4
{
    left: 0;
    opacity: 1;
}
.navi4 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi4 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi4 ul {
    margin: 0;
    padding: 0;
}
.navi4 ul.navi-menu {
    margin-bottom: 100px;
}
.navi4 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu4
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi4 .detail4 dt{
    position: absolute;
    opacity: 0;
}

.navi4 .detail4.detail4denote4 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu4-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi4 .detail4-2 dt{
    position: absolute;
    opacity: 0;
}

.navi4 .detail4-2.detail4-2denote4-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi4 .detail4-2 dt.dt-bottom
{
    border-bottom: solid 1px #fff;
}

.navi5
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi5.open5
{
    left: 0;
    opacity: 1;
}
.navi5 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi5 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi5 ul {
    margin: 0;
    padding: 0;
}
.navi5 ul.navi-menu {
    margin-bottom: 100px;
}
.navi5 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu5
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi5 .detail5 dt{
    position: absolute;
    opacity: 0;
}

.navi5 .detail5.detail5denote5 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu5-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi5 .detail5-2 dt{
    position: absolute;
    opacity: 0;
}

.navi5 .detail5-2.detail5-2denote5-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi5 .detail5-2 dt.dt-bottom
{
    border-bottom: solid 1px #fff;
}

.navi6 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi6.open6
{
    left: 0;
    opacity: 1;
}
.navi6 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi6 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi6 ul {
    margin: 0;
    padding: 0;
}
.navi6 ul.navi-menu {
    margin-bottom: 100px;
}
.navi6 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu6
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi6 .detail6 dt{
    position: absolute;
    opacity: 0;
}

.navi6 .detail6.detail6denote6 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu6-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi6 .detail6-2 dt{
    position: absolute;
    opacity: 0;
}

.navi6 .detail6-2.detail6-2denote6-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi6 .detail6-2 dt.dt-bottom{

    border-bottom: solid 1px #fff;
}

.navi7 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi7.open7
{
    left: 0;
    opacity: 1;
}
.navi7 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi7 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi7 ul {
    margin: 0;
    padding: 0;
}
.navi7 ul.navi-menu {
    margin-bottom: 100px;
}
.navi7 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu7
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi7 .detail7 dt{
    position: absolute;
    opacity: 0;
}

.navi7 .detail7.detail7denote7 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu7-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi7 .detail7-2 dt{
    position: absolute;
    opacity: 0;
}

.navi7 .detail7-2.detail7-2denote7-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi7 .detail7-2 dt.dt-bottom{
    border-bottom: solid 1px #fff;
}


.navi8 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi8.open8
{
    left: 0;
    opacity: 1;
}
.navi8 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi8 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi8 ul {
    margin: 0;
    padding: 0;
}
.navi8 ul.navi-menu {
    margin-bottom: 100px;
}
.navi8 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu8
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi8 .detail8 dt{
    position: absolute;
    opacity: 0;
}

.navi8 .detail8.detail8denote8 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu8-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi8 .detail8-2 dt{
    position: absolute;
    opacity: 0;
}

.navi8 .detail8-2.detail8-2denote8-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi8 .detail8-2 dt.dt-bottom{
    border-bottom: solid 1px #fff;
}


.navi9 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi9.open9
{
    left: 0;
    opacity: 1;
}
.navi9 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi9 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi9 ul {
    margin: 0;
    padding: 0;
}
.navi9 ul.navi-menu {
    margin-bottom: 100px;
}
.navi9 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu9
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi9 .detail9 dt{
    position: absolute;
    opacity: 0;
}

.navi9 .detail9.detail9denote9 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu9-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi9 .detail9-2 dt{
    position: absolute;
    opacity: 0;
}

.navi9 .detail9-2.detail9-2denote9-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi9 .detail9-2 dt.dt-bottom{
    border-bottom: solid 1px #fff;
}

.navi10 
{
  display: block;
  position: fixed;
  left: -240px;
  width: 240px;
  height: 1040px;
  color: #fff;
  padding: 60px 25px;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
.navi10.open10
{
    left: 0;
    opacity: 1;
}
.navi10 h2
{
    margin-top: 200px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
.navi10 a {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #fff;
    text-decoration: none;
}
.navi10 ul {
    margin: 0;
    padding: 0;
}
.navi10 ul.navi-menu {
    margin-bottom: 100px;
}
.navi10 ul.navi-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.cataloguemenu10
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.navi10 .detail10 dt{
    position: absolute;
    opacity: 0;
}

.navi10 .detail10.detail10denote10 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.cataloguemenu10-2
{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

.navi10 .detail10-2 dt{
    position: absolute;
    opacity: 0;
}

.navi10 .detail10-2.detail10-2denote10-2 dt{
    Position: static;
    background: #4b4b4b;
    padding: 15px 3px;
    opacity: 1;
    transition: .7s ease-in-out;
}

.navi10 .detail10-2 dt.dt-bottom
{
    border-bottom: solid 1px #fff;
}

.navi10 .detail10 dt.RF-dt-top
{
    border-top: solid 1px #fff;
}

